*{
    margin:0; padding:0;
}
main, header, footer{
    display:block;
}

footer{    
    background: #ddd;
    height:7vh;
    line-height:7vh;    
}
a:hover{text-decoration:none;}

.page-header{
    margin-top:30px;
}
#searchResults {
    margin-top: 15px;
}
#searchResults > ul >li:hover{
    cursor:pointer;
    background:#ddd;
}
#searchResults > ul > li > span{
    font-weight:bold;
}
#searchResults > ul >li > ul{
    list-style:none;
    margin-left:20px;
}
.result:last-child {
    margin-bottom: 10vh;
}
.result .content{
    margin-left:20px;
    font-style:italic;
}

#inputUpload{display:none;}
#modalUpload .modal-header span{
    font-weight:bold;
}
#modalUpload .loading{display:none;}


.document:hover{
    cursor:pointer;
    color:gray;
}

svg{
    cursor:pointer;
}

.strokeLine{
    text-decoration:line-through;
}
.highlight{
    color:red;
}

/*HELP*/
    #modalHelp .operators .row div:first-child{
        font-weight:bold;
    }
    #modalHelp .modal-body header{
        text-decoration:underline;
    }
